{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Crypto Dashboard</h1>
  <p class="lead">Price, News, Reddit, Twitter and more!</p>
  <hr class="my-4">
    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'prices' %}">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="BTC, XRP, etc..." aria-label="Search" name="quote">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Price</button>
    </form>
</div>
<br/>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Day High</th>
      <th scope="col">Day Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
{% for key, value in price.DISPLAY.items %}

  <tbody>
    <tr>
      <td>{{ key }}</td>
      <td>{{ value.CAD.PRICE }}</td>
      <td>{{ value.CAD.HIGHDAY }}</td>
      <td>{{ value.CAD.LOWDAY }}</td>
      <td>{{ value.CAD.MKTCAP }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br/>



    <div class="container">
        <div class="row">
        {% for x in api.Data %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
            <img src="{{ x.imageurl }}" class="card-img-top" alt="{{ x.source }}">
            <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <p class="card-text">{{ x.body }}</p>
                <a href="{{ x.url }}" class="btn btn-secondary">Read More</a>
            </div>
            </div>
            <br/>
            </div>
        {% endfor %}
        </div> 
    </div>

{% endblock %}